<h2 class="text-3xl font-semibold mb-4 text-red-500">Habilidades</h2>

<h3 class="text-xl font-bold mt-6">Habilidades técnicas</h3>
<ul class="list-disc list-inside text-gray-800 space-y-1">
  <li>Lenguajes: Java, JavaScript, TypeScript</li>
  <li>Frameworks y Librerías: Spring Boot, React, Angular, Node.js, Express</li>
  <li>Bases de datos: MySQL, MongoDB</li>
  <li>Desarrollo web: HTML5, CSS3, APIs REST, Fetch, Axios</li>
  <li>Arquitectura: MVC, Microservicios, SOLID, Clean Code</li>
  <li>Herramientas: Git, GitHub, Postman</li>
</ul>

<h3 class="text-xl font-bold mt-6">Habilidades blandas</h3>
<ul class="list-disc list-inside text-gray-800 space-y-1">
  <li>Aprendizaje rápido y adaptabilidad</li>
  <li>Trabajo en equipo y comunicación</li>
  <li>Pensamiento lógico y resolución de problemas</li>
  <li>Autogestión y proactividad</li>
</ul>
