<nav class="bg-red-500 text-white px-6 py-4 shadow-md">
  <div class="max-w-screen-xl mx-auto flex items-center justify-between w-full">
    <a routerLink="/" class="flex items-center space-x-3">
      <img src="/Mrec2Dev.png" alt="Logo" class="w-10 h-10 rounded-full" />
      <span class="text-white text-xl font-semibold whitespace-nowrap">
        Juan Mario • Angular & Spring Boot Dev
      </span>
    </a>
    <ul class="flex items-center space-x-6">
      <li><a routerLink="/" class="text-white hover:underline">Home</a></li>
      <li><a routerLink="/about" class="text-white hover:underline">About</a></li>
      <li><a routerLink="/projects" class="text-white hover:underline">Projects</a></li>
      <li><a routerLink="/skills" class="text-white hover:underline">Skills</a></li>
      <li><a routerLink="/contact" class="text-white hover:underline">Contact</a></li>
    </ul>
  </div>
</nav>
